*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: #F5EFE6;
}

header{
  padding: 10px 20px;
  background-color: #7895B2;
}

header > h1{
  text-align: center;
  margin-bottom: 10px;
}

header > nav > ul > li{
  display: inline;
  margin: 10px;
}

main{
  background-color: #AEBDCA;
  width: 100%;
  max-width: 700px;
  margin: 10px auto;
  padding: 15px;
  border-radius: 10px;
}

main > h1{
  text-align: center;
}

main > p{
  text-align: justify;
  margin: 10px;
}

span{
  color: rgb(167, 0, 0);
}

footer{
  height: 27px;
  text-align: center;
  line-height: 27px;
  background-color: #E8DFCA;
  color: blue;
}