/*Estilo para Impressoras*/
*{
  margin: 10px;
  padding: 10px;
}

html, body{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  line-height: 1.5em;
}

nav{
  display: none;
}

main::after{
  content: 'Esse artigo foi impresso através do site (_________)';
}

main{
  width: 100%;
}