*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  
  background-color: #AEBDCA;
}

header{
  padding: 10px ;
  background-color: #7895B2;
  text-align: center;
}

header > h1{
  text-align: center;
}

header > nav{
  margin: 14px 0;  
}

header > nav > ul > li{
  display: inline;
  margin: 5px ;
  padding: 10px;
  background-color: #6493c2;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

header > nav > ul > li > a{
  text-decoration: none;
  color: black;
}

header > nav > ul > li:hover{
  background-color: #409af3;

}


main{
  background-color: #fff7eb;
  width: 100%;
  max-width: 756px;
  margin: 10px auto;
  padding: 15px;
  border-radius: 5px;
}

main > h1{
  text-align: center;
}

main > p{
  text-align: justify;
  margin: 10px;
}

span{
  color: rgb(167, 0, 0);
}

footer{
  height: 27px;
  text-align: center;
  line-height: 27px;
  background-color: #E8DFCA;
  color: blue;
}