*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*
  Paleta de Cores
  Verde: #49a09d
  Lilás: #5f2c82
*/

body, html{
  background-color: #5f2c82;
  height: 100vh;
  width: 100vw;
}

main{
  width: 100%;
  height: 80%;
  position: relative;
}

#login{
  /*o tamanho do width ficou bom no google mas nao ficou no edge*/
  width: 350px;
  height: 700px;
  background-color: rgb(195, 227, 255);
  border-radius: 20px;

  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  overflow: hidden;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);

  transition: width .3s, height .3s;
  transition-timing-function: ease;
}

#image{
  display: block;
  background-color: blue;
  background-image: url(../images/predio.jpg);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

#formulario{
  display: block;
  padding: 10px;
}

#formulario > h1{
  text-align: center;
  margin-bottom: 10px;
}

#formulario > p{
  font-size: 0.8em;
}


.campo > img{
  width: 23px;
  margin: 7px 2px;
  vertical-align: middle;
}

form > input[type=submit]{
  display: block;
  font-size: 1em;
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: #49a09d;
}

form > input[type=submit]:hover{
  background-color: #2d6462;
}

.botao{
  display: block;
  font-size: 1em;
  width: 100%;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  margin-top: 5px;
  text-decoration: none;
  text-align: center;
  color: #00302d;
  border: 2px solid #49a09d;
}

.botao:hover{
  background-color: #49a09d;
}

.campo{
  background-color: #5f2c82;
  height: 40px;
  border-radius: 5px;
  margin: 5px 0;
}

label{
  display: none;
}